{{!
    This file is part of Eset - http://eset.org/

    Eset is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Eset is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Eset.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_esetnet/chooser_footer

    Chooser favourite template partial.

    Example context (json):
    {
    }
}}
{{#enabled}}
    <div class="w-100 d-flex px-2">
            <a aria-label="{{#str}}aria:footermessage, tool_esetnet{{/str}}"
                class="d-inline my-auto mr-1"
                {{#advanced}}
                    href="{{advanced}}"
                    target="_self"
                {{/advanced}}
                {{^advanced}}
                    href="#"
                    data-action="show-esetnet"
                    data-courseid="{{courseID}}"
                    data-sectionID="{{sectionID}}"
                {{/advanced}}
            >
                {{#str}} footermessage , tool_esetnet{{/str}}

                <span class="esetnet-logo" aria-hidden="true">{{#pix}} EsetNet, tool_esetnet {{/pix}}</span>
            </a>
    </div>
{{/enabled}}
